

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

<div class="container">
    <!-- Basic Setup -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                CLIENTES
                
            </h3>
            <a href="/cliente/create" class="btn btn-success pull-right">CADASTRAR</a>
        </div>
        <div class="panel-body">
            <script type="text/javascript">
            jQuery(document).ready(function($)
            {
                $("#example-1").dataTable({
                    aLengthMenu: [
                        [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
                    ]
                });
            });
            </script>
            <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th>CPF</th>
                        <th>% Desconto</th>
                        
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td>@cliente.Id</td>
                            <td>@cliente.Nome</td>
                            <td>@cliente.Email</td>
                            <td>@cliente.Senha</td>
                            <td>@cliente.Cpf</td>
                            <td>@cliente.PorcentagemDesconto</td>
                            
                            <td>
                                <a href="/cliente/update/@cliente.Id" class="btn btn-info">
                                    <span class="glyphicon glyphicon-edit"></span> Editar
                                </a>
                                <a href="/cliente/delete/@cliente.Id" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span> Apagar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>







</div>
